div.video{
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-image: url('../images/background2.jpg');
    background-size: cover;
}

div.video>video.first{
    width: 400px;
    height: 30vh;
    margin-top:70vh;
    margin-left: calc(50% -  400px / 2);

}
